td{
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "comic sans MS", cursive, sans-serif;
    font-size:  70px;
    cursor: pointer;

}